<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="wcf3_4.Service1">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="wcf3_4.IService1"
						  behaviorConfiguration="webHttpBehavior" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<system.webServer>
		<directoryBrowse enabled="true" />
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>

