<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>

	<system.serviceModel>
		<services>
			<service name="wcf3_3.Service1">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="wcf3_3.IService1"
						  behaviorConfiguration="webHttpBehavior" />
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>

